<p id="notice"><%= notice %></p>
<%= link_to image_tag("back.resized.png"), home_index_path  %>
<br>
<br>
<h1 style=font-size:100px>Authors</h1>
<%= link_to image_tag("add.resized.jpg"), new_author_path %>
<br>
<br>
<table class="table table-hover">
  <thead>
  <tr>
    <th class="w-25">First Name</th>
    <th class="w-25">Last Name</th>
    <th class="w-25">Email</th>
  </tr>
  </thead>
  <tbody>
  <% @authors.each do |author| %>

    <tr>
      <td class="jumbotron"><%= author.fname %></td>
      <td class="jumbotron"><%= author.lname %></td>
      <td class="jumbotron"><%= author.email %></td>

    </tr>
    <% end %>
  </tbody>
</table>
<br>
<footer class="container-fluid text-center">
  <%= link_to image_tag("up.resized.png"), authors_path  %>
  <br><br>
  <p>&copy; 2019 GV News</p>
</footer>


