<p id="notice"><%= notice %></p>
<%= link_to image_tag("back.resized.png"), home_index_path  %>
<br>
<br>
<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


