<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :author_id %>
    <%= form.select :author_id,
                    options_for_select(Author.all.collect {|a| ["#{a.lname},
        #{a.fname}", a.id]},
                                       selected: (@post.author ? @post.author.id : Author.first.id)),
                    {} %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, @categories.keys, {selected: @post.category} %>
  </div>

  <div class="field">
    <%= form.label :headline %>
    <%= form.text_field :headline %>
  </div>

  <div class="field">
    <%= form.label :byline %>
    <%= form.text_field :byline %>
  </div>

  <div class="field">
    <%= form.label :leadParagraph %>
    <%= form.text_field :leadParagraph %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
