<p id="notice"><%= notice %></p>
<%= link_to image_tag("back.resized.png"), home_index_path  %>
<br>
<br>

<h1 style=font-size:100px>News</h1>
<%= link_to image_tag("add.resized.jpg"), new_post_path %>


<br>
<br>

  <%@posts.each do |post|%>
<div class="jumbotron text-justify">

  <h2 style=font-size:50px >
  <%= post.headline %> </h2>

  <h3>
  <%= post.byline %>
  </h3>


  <h5>
  <%= post.leadParagraph %>
  </h5>
  <br>
  <br>
  <p>

    <%= post.author.fname %> <%=(post.author.try(:lname) || "NA")%>
  </p>
  <br>
  <br>
  <p>
    <%= post.body %>
  </p>


  </div>
    <% end %>


<br>
<footer class="container-fluid text-center">
  <%= link_to image_tag("up.resized.png"), posts_path  %>
  <br><br>
  <p>&copy; 2019 GV News</p>
</footer>

