<p id="notice"><%= notice %></p>
<%= link_to image_tag("back.resized.png"), home_index_path  %>
<br>
<br>
<p>
  <strong>Author:</strong>
  <%= (@post.author.try(:lname) || "NA")%></p>

<p>
  <strong>Category:</strong>
  <%= @post.category %>
</p>

<p>
  <strong>Headline:</strong>
  <%= @post.headline %>
</p>

<p>
  <strong>Byline:</strong>
  <%= @post.byline %>
</p>

<p>
  <strong>Lead Paragraph:</strong>
  <%= @post.leadParagraph %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>


