<!DOCTYPE html>
<html>
<style>

  a:hover, a:active {
    background-color: #DADADA;
  }

</style>
  <head>
    <title>GV News</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-light">

    <span class="navbar-brand mb-0 h1splash"><%= link_to image_tag("logo3.resized.resized.png"), home_index_path  %> </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, :class => "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "News", posts_path, :class => "nav-link" %>
        <li>

        <li class="nav-item">
          <%= link_to "Authors", authors_path, :class => "nav-link" %>
        <li>

        <li class="nav-item">
          <%= link_to "Users", users_path, :class => "nav-link" %>
        <li>
        <li class="nav-item">
          <%= link_to "Our Sponsors", sponsors_path, :class => "nav-link" %>
        <li>
      </ul>



    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
